.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  background-color:#FF5A5F;
  z-index: 100;
  text-decoration-color: white;
  width: 100%;
}
.header_icon{
object-fit: contain;
margin-left: 20px;
height: 80px;

}
.header_center{
  display:flex;
  align-items: center;
  max-width: fit-content;
  flex: 1;
  height:30px;
  padding: 10px;
  border:1px solid lightgray;
  border-radius: 999px;
}

.header_center>input{
border:none;
padding: 10px;
background-color:#FF5A5F;
outline-width: 0;
}

.header_rightmost{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
